{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.gepubliceerd_op }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titel }}</a></h1>
            <p>{{ post.bericht|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock content %}

{% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.gepubliceerd_op }}
        </div>
        <h1><a href="">{{ post.titel }}</a></h1>
        <p>{{ post.bericht|linebreaks }}</p>
    </div>
{% endfor %}